body{
    background-image: url(https://static.wikitide.net/windowswallpaperwiki/4/4f/WindowsMobile_%28Windows_Mobile_6.5_Standard%29.jpg);
background-size: cover;
background-repeat: no-repeat;}


.part-1 {border: 2px solid rgb(95, 94, 94);
border-radius: 10px;
background: linear-gradient( rgb(168, 167, 167,100), black,rgb(80, 79, 79,10));
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;}

.part-2 {border: 3px solid gray;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
background: linear-gradient(rgba(207, 207, 207,30), rgba(124, 124, 124,30), rgba(82, 81, 81,30));
bottom: 22px;
position:relative;
transition: box-shadow 0.3s ease;
}

.description {border: 3px solid rgb(29, 29, 29);
width: 300px;
border-radius: 10px;
background: linear-gradient(rgba(207, 207, 207,30), rgba(124, 124, 124,30), rgba(82, 81, 81,30));;
padding: 5px;
margin-bottom: 10px;
position: relative;
font-family: segoe ui;
font-size: 20px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease
}

  p {font-size: 9px;}

  .rules {border: 6px solid rgb(43, 30, 3);
  background: linear-gradient(rgb(182, 182, 114),rgb(102, 102, 63));
  padding: 5px;
  font-family: eb garamond;
  border-radius: 7px;
  font-size: 10px;
  width: 300px;
  position: relative;
  left: 330px;
  bottom: 470px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease}

  footer {border: 1px solid rgb(20, 20, 20);
  background: linear-gradient(white,grey);
  bottom: 440px;
  position: relative;}

.reddit{position: relative;
left: 0.7cm;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;;}

.discord{position: relative;
left: 5.7cm;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;}

.roblox{left: 11cm;
position: relative;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;}

.reddit:hover {box-shadow: 0px 15px 15px rgba(1, 1, 1, 1);
  transform:scale(1.05);}

.discord:hover {box-shadow: 0px 15px 15px rgba(1, 1, 1, 1);
  transform:scale(1.05);}

.roblox:hover {box-shadow: 0px 15px 15px rgba(1, 1, 1, 1);
  transform:scale(1.05);}

.description:hover {box-shadow: 0px 15px 15px rgba(1, 1, 1, 1);
  transform:scale(1.07);}

.rules:hover {box-shadow: 0px 15px 15px rgba(1, 1, 1, 1);
  transform:scale(1.07);}
  .part-2:hover {box-shadow: 0px 7px 7px rgba(1, 1, 1, 1);}
